*{
    margin: 0;
    padding: 0;
}

:root{
    --corheader: #1F3B4D;
    --corfont: #4F5B66;
    --cormain: #FFFFFF;
    --corfooter: #8B2F2F;
    --fonttitle: "Poppins", sans-serif;
    --fonttextos: "Open Sans", sans-serif;
}

body h1, h2{
    font-family: var(--fonttitle);
}

body p{
    font-family: var(--fonttextos);
}

header{
    background-color: var(--corheader);
    box-shadow: 0 2px 4px 1px var(--corfont);
    margin-bottom: 10px;
}

main{
    background-color: var(--cormain);
}

#redes{
    display: flex;
    justify-content: space-between;
    
}

#sociais{
    display: flex;
    margin: 15px;

}

.redes-sociais a{
    color: white;
}

.redes-sociais i{
    display: inline-block;
    font-size: 35px;
    padding: 10px;
    border-radius: 8px;
    transition: transform 0.3s;
    transform-origin: center;
    
}

.redes-sociais i:hover{
    transform: scale(1.1);
}

#logo img{
    max-width: 250px;
    border-radius: 50%;
    padding: 10px;
}

#logo{
    margin: 0 auto;
}

#titulo{
    padding: 15px;
    text-align: center;
    line-height: 1.6;
}

#titulo p{
    font-size: 25px;
}

.div-botao{
    display: inline-block;
    width: 210px;
    text-align: center;
    height: 50px;
    margin: 10px;
}

.botao{
    display: inline-block;
    width: 100%;
    height: 100%;
    line-height: 50px;
    font-family: var(--fonttextos);
    font-size: 25px;
    background-color: var(--corfooter);
    color: var(--cormain);
    text-decoration: none;
    border-radius: 8px;
    transition: transform 0.2s;
    transform-origin: center;
}

.botao:hover{
    transform: scale(1.1);
}

main{
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
}

#sobre-nos{
    display: flex;
    gap: 50px;
    margin: 5px;
}

#galeria img{
    max-width: 500px;
}

#sobre{
    display: flex;
}

#sobre-texto{
    align-content: center;
    padding: 10px;
    
}

#sobre-texto p{
    text-align: justify;
    line-height: 1.6;
    text-indent: 30px;
}

#titleservice{
    margin-top: 30px;
}

.servicos{
    max-width: 1000px;
    margin: 0 auto;
}

.nossos-servicos{
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 10px;
    line-height: 1.6;
    text-align: justify;
}

.cortes{
    padding: 10px;
    border-radius: 8px;
    /* border: 1px solid var(--corfont); */
}

.cortes h2{
    font-weight: 500;
    
}

.icon{
    display: flex;
    gap: 10px;
    padding: 10px;
}

.cortes .icon img{
    width: 50px;
    height: 50px;
}

footer{
    background-color: var(--corfooter);
    color: white;
    padding: 10px;
    text-align: center;
    line-height: 1.6;
}


@media (max-width: 768px){
    #titulo h1{
        font-size: 23px;
    }

    #titulo p{
        font-size: 18px;
    }

    #redes{
        display: flex;
        flex-direction: column;
    }

    #redes > .div-botao{
        margin: 10px auto 50px auto;
    }

    #sobre-nos{
        display: flex;
        flex-direction: column;
    }

    #galeria img{
        max-width: 320px;
        padding: 15px;
    }

    #galeria{
        margin: 0 auto;
    }

    #titleservice{
        text-indent: 20px;
    }

    .nossos-servicos{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}